<div class="w-100">
    <div class="btn-download float-end" (click)="downloadUsageCsv()"></div>
    <div class="row my-4">
        <h5 class="mb-3">Usage by Application Type</h5>
        <div [chart]="usagebyApplicationTypeChart"></div>
    </div>
    <div class="col input-group mb-3">
        <select class="form-select" [(ngModel)]="selectedChannel" (change)="refreshChart()">
            <ng-container *ngFor="let soc of socialChannels;">
                <option [value]="soc">{{soc}}</option>
            </ng-container>
        </select>
    </div>
    <div class="w-100">
        <div class="btn-download float-end" (click)="downloadHeatCsv()"></div>
        <div class="row my-4">
            <h5 class="mb-3">Social Channel Heatmap</h5>
            <div [chart]="socialChannelHeatmapChart"></div>
        </div>
    </div>
</div>