<div class="flex mt-2 pb-3">
    <div class="float-start">
        <button type="button" [disabled]="defineFormGroup.invalid" (click)="saveCampaignClick(false)"
            class="btn btn-success">Save</button>
    </div>
    <div class="float-end">
        <button type="button" [disabled]="defineFormGroup.invalid" (click)="saveCampaignClick(true)"
            class="btn btn-primary">Next ></button>
    </div>
</div>
<br>
<div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="errorMessage">
    <span class="success-img h-4"><img src="./assets/images/error-icon.svg" style="height: 2rem;" /></span>
    <div class="d-inline-flex w-75 text-left ms-4"> {{errorMessage}}</div>
    <img src="./assets/images/close-icon.svg" (click)='messageReset()'>
</div>
<div class="alert alert-success alert-dismissible fade show" role="alert" *ngIf="successMessage">
    <span class="success-img"><img src="./assets/images/success-icon.svg" style="height: 2rem;" /></span>
    <div class="d-inline-flex w-75 text-left ms-4"> {{successMessage}}</div>
    <img src="./assets/images/close-icon.svg" role="button" (click)='messageReset()'>
</div>
<form class="mt-3 mb-3" [formGroup]="defineFormGroup">
    <div class="input-group mb-3">
        <label class="input-group-text w-25">
            Campaign Name <span class="text-danger">*</span></label>
        <input type="text" class="form-control" formControlName="campaignName" (change)="campaignNameChanged()"
            placeholder="Campaign Name">
    </div>
    <p *ngIf="(defineFormGroup.controls['campaignName'].invalid && defineFormGroup.controls['campaignName'].dirty)"
        class="text-danger fs-6">Campaign Name Required</p>
    <div class="input-group mb-3">
        <label class="input-group-text w-25">Segment <span class="text-danger">*</span></label>
        <div class="dropdown-button w-75" ngbDropdown>
            <button class="w-100 h-100" id="segmentDropdown" ngbDropdownToggle>
                <p class="w-75 mx-4">
                    <span class="float-start">
                        <span>{{ selectedSegment.segmentName }}</span>
                        <span class="ms-5">{{ selectedSegment.segmentType }}</span>
                    </span>
                </p>
            </button>
            <div class="w-100 overflow-auto" style="height: 20rem;" ngbDropdownMenu aria-labelledby="segmentDropdown">
                <div class="form-outline">
                    <input class="w-100" type="search" (keyup)="searchSegments($event)" placeholder="Search.."
                        name="name" />
                </div>
                <strong class="ps-3">Recommended</strong>
                <div>
                    <ng-container *ngFor="let segment of recommendedSegmentsDropdown;">
                        <button (click)="segmentSelected(segment)" ngbDropdownItem class="ps-2">
                            <span class="content-wrap float-start"
                                title="{{segment.segmentName}}">{{segment.segmentName}}</span>
                            <span class="float-end">{{segment.segmentType}}</span></button>
                    </ng-container>
                    <span class="ps-1" *ngIf="!recommendedSegmentsDropdown.length">No Segments found</span>
                </div>

                <strong class="ps-3">Saved</strong>
                <div>
                    <ng-container *ngFor="let segment of savedSegmentsDropdown;">
                        <button (click)="segmentSelected(segment)" ngbDropdownItem class="ps-2">
                            <span class="content-wrap float-start"
                                title="{{segment.segmentName}}">{{segment.segmentName}}</span>
                            <span class="float-end">{{segment.segmentType}}</span></button>
                    </ng-container>
                    <span class="ps-1" *ngIf="!savedSegmentsDropdown.length">No Segments found</span>
                </div>
            </div>
        </div>
    </div>
    <p *ngIf="(defineFormGroup.controls['campaignSegment'].invalid && defineFormGroup.controls['campaignSegment'].dirty)"
        class="text-danger fs-6">Segment Required</p>

    <ng-container *ngIf="isRecommenedSelected && !isAcquisitionSelected">
        <div class="input-group mb-3">
            <label class="input-group-text w-25">Region</label>
            <select type="text" class="form-select" formControlName="campaignRegion">
                <option value="">All</option>
                <ng-container *ngFor="let region of regions;">
                    <option [value]="region.Region">{{region.Region}}
                    </option>
                </ng-container>
            </select>
        </div>
        <div class="input-group mb-3">
            <label class="input-group-text w-25">Location</label>
            <select type="text" class="form-select" formControlName="campaignLocation">
                <option value="">All</option>
                <ng-container *ngFor="let location of locations;">
                    <option [value]="location.Location">{{location.Location}}
                    </option>
                </ng-container>
            </select>
        </div>
        <div class="input-group mb-3">
            <label class="input-group-text w-25">Service</label>
            <select type="text" class="form-select" formControlName="campaignService">
                <option value="">All</option>
                <ng-container *ngFor="let service of services;">
                    <option [value]="service.Service">{{service.Service}}
                    </option>
                </ng-container>
            </select>
        </div>
        <div class="input-group mb-3">
            <label class="input-group-text w-25">Propensity</label>
            <select type="text" class="form-select" formControlName="campaignPropensity">
                <option value="">All</option>
                <ng-container *ngFor="let propensity of propensities;">
                    <option [value]="propensity.Propensity">{{propensity.Propensity}}
                    </option>
                </ng-container>
            </select>
        </div>
    </ng-container>

    <ng-container *ngIf="isAcquisitionSelected">
        <div class="input-group mb-3">
            <label class="input-group-text w-25">Zipcode</label>
            <ng-select class="form-select" [multiple]="true" [items]="zipcodes" bindValue="item_text"
                bindLabel="item_text" formControlName="campaignZipzode">
            </ng-select>
        </div>
        <div class="input-group mb-3">
            <label class="input-group-text w-25">Zipplus</label>
            <ng-select class="form-select" [multiple]="true" [items]="zippluses" bindValue="item_text"
                bindLabel="item_text" formControlName="campaignZipplus">
            </ng-select>
        </div>
    </ng-container>

    <div class="input-group mb-3">
        <label class="input-group-text w-25">
            Budget</label>
        <input type="number" class="form-control" formControlName="campaignBudget" placeholder="$">
    </div>
    <p *ngIf="(defineFormGroup.controls['campaignBudget'].invalid && defineFormGroup.controls['campaignBudget'].dirty)"
        class="text-danger fs-6">Enter Valid Budget.</p>
    <div class="input-group mb-3">
        <label class="input-group-text w-25">
            Conversion Target</label>
        <input type="number" class="form-control" formControlName="campaignConversionTarget" placeholder="%">
    </div>
    <p *ngIf="(defineFormGroup.controls['campaignConversionTarget'].invalid && defineFormGroup.controls['campaignConversionTarget'].dirty)"
        class="text-danger fs-6">Enter Valid Convertion Target.</p>
    <div class="input-group mb-3">
        <label class="input-group-text w-25">
            Start Date<span class="text-danger">*</span></label>
        <input class="form-control" formControlName="campaignStart" bsDatepicker (onHidden)="startDateChange()"
            [minDate]="minDate" [bsConfig]="{ dateInputFormat: 'MM-DD-YYYY', adaptivePosition: true }" />
    </div>
    <p *ngIf="(defineFormGroup.controls['campaignStart'].invalid && defineFormGroup.controls['campaignStart'].dirty)"
        class="text-danger fs-6">Start Date Required</p>
    <div class="input-group mb-3">
        <label class="input-group-text w-25">
            End Date<span class="text-danger">*</span></label>
        <input class="form-control" formControlName="campaignEnd" bsDatepicker
            [minDate]="defineFormGroup.controls['campaignStart'].value"
            [bsConfig]="{ dateInputFormat: 'MM-DD-YYYY', adaptivePosition: true }" />
    </div>
    <p *ngIf="(defineFormGroup.controls['campaignEnd'].invalid && defineFormGroup.controls['campaignEnd'].dirty)"
        class="text-danger fs-6">End Date Required</p>
</form>