<form class="mt-3" [formGroup]="defineFormGroup">
    <div class="input-group mb-3">
        <label class="input-group-text w-25">
            Campaign Name <span class="text-danger">*</span></label>
        <input type="text" class="form-control" formControlName="campaignName" placeholder="Campaign Name">
    </div>
    <p *ngIf="(defineFormGroup.controls['campaignName'].invalid && defineFormGroup.controls['campaignName'].touched)"
        class="text-danger fs-6">Campaign Name Required</p>
    <div class="input-group mb-3">
        <label class="input-group-text w-25">Segment <span class="text-danger">*</span></label>
        <div class="dropdown-button w-75" ngbDropdown>
            <button class="w-100" id="segmentDropdown" ngbDropdownToggle>
                <p class="listdata float-start mb0">{{ selectedSegment.segmentName }} {{ selectedSegment.segmentType }}</p>
            </button>
            <div class="w-100 overflow-auto" style="height: 20rem;" ngbDropdownMenu aria-labelledby="segmentDropdown">
                <div class="form-outline">
                    <input class="w-100" type="search" (keyup)="searchSegments($event)" placeholder="Search.."
                        name="name" />
                </div>
                <strong class="pl-3">Recommended</strong>
                <ng-container *ngFor="let segment of recommendedSegmentsDropdown;">
                    <button (click)="segmentSelected(segment)" ngbDropdownItem class="greyaa">
                        <span class="content-wrap float-start"
                            title="{{segment.segmentName}}">{{segment.segmentName}}</span>
                        <span class="float-end">{{segment.segmentType}}</span></button>
                </ng-container>
                <strong class="pl-3">Saved</strong>
                <ng-container *ngFor="let segment of savedSegmentsDropdown;">
                    <button (click)="segmentSelected(segment)" ngbDropdownItem class="greyaa">
                        <span class="content-wrap float-start"
                            title="{{segment.segmentName}}">{{segment.segmentName}}</span>
                        <span class="float-end">{{segment.segmentType}}</span></button>
                </ng-container>
            </div>
        </div>
    </div>
    <p *ngIf="(defineFormGroup.controls['campaignSegment'].invalid && defineFormGroup.controls['campaignSegment'].touched)"
        class="text-danger fs-6">Segment Required</p>
    <!-- <div class="input-group mb-3">
        <label class="input-group-text w-25">Segment <span class="text-danger">*</span></label>
        <select type="text" class="form-select" >
            <optgroup label="Recommended Segments">
                <ng-container *ngFor="let segment of recommendedSegments;">
                    <option [value]="segment.segmentId">{{
                        segment.segmentName + ' - ' + segment.segmentType }}
                    </option>
                </ng-container>
            </optgroup>
            <optgroup label="Saved Segments">
                <ng-container *ngFor="let segment of savedSegments;">
                    <option [value]="segment.segmentId">{{
                        segment.segmentName + ' - ' + segment.segmentType }}
                    </option>
                </ng-container>
            </optgroup>
        </select>
    </div> -->

    <ng-container *ngIf="isRecommenedSelected && !isAcquisitionSelected">
        <div class="input-group mb-3">
            <label class="input-group-text w-25">Region</label>
            <select type="text" class="form-select" formControlName="campaignRegion">
                <option value="">All</option>
                <ng-container *ngFor="let region of regions;">
                    <option [value]="region.Region">{{region.Region}}
                    </option>
                </ng-container>
            </select>
        </div>
        <div class="input-group mb-3">
            <label class="input-group-text w-25">Location</label>
            <select type="text" class="form-select" formControlName="campaignLocation">
                <option value="">All</option>
                <ng-container *ngFor="let location of locations;">
                    <option [value]="location.Location">{{location.Location}}
                    </option>
                </ng-container>
            </select>
        </div>
        <div class="input-group mb-3">
            <label class="input-group-text w-25">Service</label>
            <select type="text" class="form-select" formControlName="campaignService">
                <option value="">All</option>
                <ng-container *ngFor="let service of services;">
                    <option [value]="service.Service">{{service.Service}}
                    </option>
                </ng-container>
            </select>
        </div>
        <div class="input-group mb-3">
            <label class="input-group-text w-25">Propensity</label>
            <select type="text" class="form-select" formControlName="campaignPropensity">
                <option value="">All</option>
                <ng-container *ngFor="let propensity of propensities;">
                    <option [value]="propensity.Propensity">{{propensity.Propensity}}
                    </option>
                </ng-container>
            </select>
        </div>
    </ng-container>

    <ng-container *ngIf="isAcquisitionSelected">
        <div class="input-group mb-3">
            <label class="input-group-text w-25">Zipcode</label>
            <select type="number" class="form-select" formControlName="campaignZipzode">
                <ng-container *ngFor="let zipcode of zipcodes;">
                    <option [value]="zipcode.item_text">{{zipcode.item_text}}
                    </option>
                </ng-container>
            </select>
        </div>
        <div class="input-group mb-3">
            <label class="input-group-text w-25">Zipplus</label>
            <select type="number" class="form-select" formControlName="campaignZipplus">
                <ng-container *ngFor="let zipplus of zippluses;">
                    <option [value]="zipplus.item_text">{{zipplus.item_text}}
                    </option>
                </ng-container>
            </select>
        </div>
    </ng-container>

    <div class="input-group mb-3">
        <label class="input-group-text w-25">
            Budget</label>
        <input type="number" class="form-control" formControlName="campaignBudget" placeholder="$">
    </div>
    <p *ngIf="(defineFormGroup.controls['campaignBudget'].invalid && defineFormGroup.controls['campaignBudget'].dirty)"
        class="text-danger fs-6">Enter Valid Budget.</p>
    <div class="input-group mb-3">
        <label class="input-group-text w-25">
            Conversion Target</label>
        <input type="number" class="form-control" formControlName="campaignConversionTarget" placeholder="%">
    </div>
    <p *ngIf="(defineFormGroup.controls['campaignConversionTarget'].invalid && defineFormGroup.controls['campaignConversionTarget'].touched)"
        class="text-danger fs-6">Enter Valid Convertion Target.</p>
    <div class="input-group mb-3">
        <label class="input-group-text w-25">
            Start Date<span class="text-danger">*</span></label>
        <input class="form-control" formControlName="campaignStart" bsDatepicker (onHidden)="startDateChange()"
            [minDate]="minDate" [bsConfig]="{ dateInputFormat: 'MM-DD-YYYY' }" />
    </div>
    <p *ngIf="(defineFormGroup.controls['campaignStart'].invalid && defineFormGroup.controls['campaignStart'].touched)"
        class="text-danger fs-6">Start Date Required</p>
    <div class="input-group mb-3">
        <label class="input-group-text w-25">
            End Date<span class="text-danger">*</span></label>
        <input class="form-control" formControlName="campaignEnd" bsDatepicker
            [minDate]="defineFormGroup.controls['campaignStart'].value"
            [bsConfig]="{ dateInputFormat: 'MM-DD-YYYY' }" />
    </div>
    <p *ngIf="(defineFormGroup.controls['campaignEnd'].invalid && defineFormGroup.controls['campaignEnd'].touched)"
        class="text-danger fs-6">End Date Required</p>
    <div class="flex">
        <div class="float-start">
            <button type="button" [disabled]="defineFormGroup.invalid" (click)="saveCampaignClick(false)"
                class="btn btn-success">Save</button>
        </div>
        <div class="float-end">
            <button type="button" [disabled]="defineFormGroup.invalid" (click)="saveCampaignClick(true)"
                class="btn btn-primary">Next ></button>
        </div>
    </div>

</form>