<div class="flex my-4">
    <div class="float-end">
        <button type="button" [disabled]="mobileFormGroup.invalid" class="btn btn-primary"
            (click)="openModal(template)">Deploy</button>
    </div>
    <div class="float-end me-2">
        <button type="button" (click)="nextStepEvent.emit(false)" class="btn btn-primary">
            < Previous</button>
    </div>
</div>
<br>

<ng-container *ngFor="let channel of selectedChannels; let i = index">
    <div class="my-3">
        <h3><u>{{i+1}}. {{ channel.marketingChannel === 'Mobile Notification' ? 'CommandIQ' : ''}}
                {{channel.marketingChannel}}</u></h3>
    </div>
    <ng-container *ngIf="channel.marketingChannel !== 'Mobile Notification'">
        <div class="mb-4">
            <strong> {{saveCampaignModel.segmentName}}</strong> will be deployed to {{channel.marketingChannel}} when
            you click "Deploy Campaign".
        </div>
    </ng-container>
    <ng-container *ngIf="channel.marketingChannel === 'Mobile Notification'">
        <app-mobile-campaign [mobileFormGroup]="mobileFormGroup" (fileSelected)="imageSelected($event)">
        </app-mobile-campaign>
    </ng-container>
</ng-container>
<ng-template #template>
    <div class="modal-header">
        <img src="./assets/images/info-icon.svg" class="me-2">
        <h4 class="modal-title pull-left">Deploy Campaign</h4>
        <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
            <span aria-hidden="true" class="visually-hidden">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        The following actions will be executed
        <ul>
            <ng-container *ngFor="let modal of selectedChannels">
                <li *ngIf="modal.marketingChannel !== 'Mobile Notification' && modal.marketingChannel !== 'CSV Download'"
                    class="my-2">
                    Send segment to {{modal.marketingChannel}}. This action may take up to 60 minutes</li>
                <li *ngIf="modal.marketingChannel === 'Mobile Notification'" class="my-2">Send Command IQ Mobile
                    Notification
                </li>
                <li *ngIf="modal.marketingChannel === 'CSV Download'" class="my-2">Download CSV file</li>
            </ng-container>
        </ul>
        <button type="button" (click)="deployCampaign()" class="btn btn-primary">Deploy Campaign</button>
        <button type="button" (click)="modalRef?.hide()" class="btn btn-secondary float-end">Close</button>
    </div>
</ng-template>