.main-menu-item{
  text-align: center;
    color: #7c7c7c;
    font-size: 13px;
    font-weight: 600;
    background-color: #ffffff;
    //border-top: 3px solid #ffffff;
    margin: 1px;
    margin-top: 0px;
}

.rule-tabs-wrapper {
border: 1px solid black;
  margin-top: -1px;
}
.violent-bg {
  background-color: #F8F8FA;
    color: #1A1F22;
  }

.white {
  color: #1A1F22;
    ;
  }
  
  #accordion a:hover {
  color: #1A1F22;
}

.blue-bg {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.sxa-bgcolor-violet {
// background-color: #9E9E9E;
  background-color: #F8F8FA;
  color: #1A1F22;
}

.endpoint-dropdown-menu-list {
border-color: #000055;
  margin: 0 5px 5px 5px;
  padding: 5px;
  font-size: 1.2em;
  font-style: inherit;
  display: block;
  text-align: left;
  cursor: default;
}
// For IPad 
@media only screen and (min-device-width:765px) and (max-device-width: 1025px) {
  .violent-bg {

    height: 50px !important;
}

}

.endpoint-dropdown-menu {
top: inherit;
  left: inherit;
  max-height: 195px;
  overflow-y: auto;
  overflow-x: hidden;
  margin-top: -10px;
  width: 85%;
  position: relative;
}

#add_mapping_src .open  {
margin-bottom: 120px;
}

.draggable_mapping_element {
background-color: #808080;
  border-color: #000055;
  margin: 0 5px 5px 5px;
  padding: 5px;
  font-size: 1.2em;
  font-style: inherit;
  display: block;
  text-align: left;
  //width: 300px;
  width: 97%;
  cursor: default;
}

// ul {
//   display: block;
//   margin-inline-start: 0px;
//   margin-inline-end: 0px;
//   padding-inline-start: 40px;
// }

.sxa-color-white {
color: #1A1F22;
}

.draggable_mappring_ul_src {
overflow: hidden;
  background-color: #eee;
  border: 5px solid #eee;
  list-style-type: none;
  margin: 10px;
  padding: 5px 0 0 0;
  min-height: 45px;
  //min-width: 320px;
}

.drop-down-container
{
position:relative;
}

.drop-down
{
position:absolute;
}

// .sxa-color-gold {
//   color: #eeae00;
// }

button:disabled {
cursor: not-allowed;
  pointer-events: all !important;
}

[data-toggle="collapse"]:after {
display: inline-block;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f054";
  transform: rotate(90deg);
  transition: all linear 0.25s;
  float: right;

}

[data-toggle="collapse"].collapsed:after {
  transform: rotate(0deg);
}

// .mapping-edit-btn {
//   //margin-top: 20px;
// }

.violent-bg>a,
.violent-bg>p {
  height: 30px;
  padding: 10px;
  margin-bottom: 6px;
}

.mapping-src-wrapper {
  border: 1px solid black;
  padding: 20px;

}

.added_mapping_src {
  padding: 10px;
}

.mapping-src-btn-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.add-mapping-src-btn {
  border-radius: 0px !important;
  box-shadow: 2px 2px black;
  width: 100%;
}

// .edit-submit-wrapper {

// }

.gold-right-pointer {
  margin-top: -4px;
}

.draggable_pool_attr_ul {
  margin-top: 10px;
  overflow: auto !important;
  overflow-y: hidden !important;
  margin-left: 20px;
  margin-right: 10px;
}

// .draggable_pool_attr_li {

// }


.add-icon {
  margin-right: 5px;
}

.append_mapping_src_attr,
.add-rule-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 93%;
  margin: 10px auto;
  // border-radius: 0px !important;
  // box-shadow: 1.2px 1.2px black;
  border: none !important;
}

.attr_class {
  opacity: 1;
  background-color: #9e9e9e !important;
  margin-bottom: 10px;
  height: 30px;
  padding: 3px 3px 2px;
}

.rule-tabs-close-icon {
  float: right;
  cursor: pointer;
  padding: 10px;
  position: absolute;
  right: 20px;
  top: -5px;
}

.delimiter-wrapper {
  margin-left: 55px;
  margin-right: 10px;
}

.delimiter-select {
  width: 115px;
  margin-left: 10px;
}

.pointer {
  cursor: pointer;
}

div.disabled {
  pointer-events: none;
  background: #0279FF !important;
  border: 1px solid #0279FF !important;
  cursor: not-allowed;
  opacity: 0.5;
  color: #81bcff;
}

.ul-li-style {
  ul {
    list-style-type: circle !important;

    li {
      margin-left: 35px;
    }
  }

  ul.aggre-rl {
    border-top: 1px solid white;
  }
}

.key-config {
  ul {
    li {
      padding-left: 15px;

      .key-config-checkbox-group {
        padding-left: 25px;

        input {
          margin-right: 10px;
          cursor: pointer;
        }
      }

    }
  }
}