<form [formGroup]="channelFormGroup">
    <div class="flex my-4">
        <div class="float-start">
            <button type="button" (click)="setSelectedChannels(false)" class="btn btn-primary">
                < Previous</button>
        </div>
        <div class="float-end" *ngIf="formValid">
            <button type="button" [disabled]="!formValid" (click)="setSelectedChannels(true)"
                class="btn btn-primary">Next ></button>
        </div>
        <!-- <div class="float-end me-2">
            <button type="button" [disabled]="!formValid" (click)="setSelectedChannels()"
                class="btn btn-success">Save</button>
        </div> -->
    </div>
    <br>
    <div class="table-striped">
        <div class="row fw-bold mb-4 mt-4">
            <div class="col form-check">
                <input class="form-check-input" type="checkbox" formControlName="selectAll"
                    (change)="selectAllChannel($event)">
                Channels
            </div>
            <div class="col">Segment Size</div>
            <div class="col">Includes in Channel</div>
            <div class="col">Description</div>
        </div>
        <ng-container *ngFor="let channel of markettingChannels">
            <div class="row mb-2">
                <div class="col form-check">
                    <input class="form-check-input" (change)="selectChannel($event, channel)" type="checkbox"
                        [formControlName]="channel.marketingChannelId">
                    <span class="ms-1">{{channel.marketingChannel}}</span>
                </div>
                <div class="col">
                    <span
                        *ngIf="channel.marketingChannel === 'Mobile Notification'">{{saveCampaignModel.segmentMobileAppSize}}</span>
                    <span
                        *ngIf="channel.marketingChannel !== 'Mobile Notification'">{{saveCampaignModel.segmentSize}}</span>
                </div>
                <div class="col">
                    <ng-container *ngIf="channelFormGroup.controls[channel.marketingChannelId].value">
                        <div *ngIf="channel.marketingChannel === 'Mobile Notification'">
                            <span>All ({{saveCampaignModel.segmentMobileAppSize}})</span>
                        </div>
                        <div *ngIf="channel.marketingChannel !== 'Mobile Notification'">
                            <select class="form-select" [value]="'All'"
                                (change)="selectChannelInclude($event, channel)">
                                <option value="All">All ({{ saveCampaignModel.segmentSize }})</option>
                                <option value="Non-Mobile Message">Non-Mobile Message ({{ saveCampaignModel.segmentSize -
                                    saveCampaignModel.segmentMobileAppSize }})
                                </option>
                            </select>
                        </div>
                    </ng-container>
                    <span *ngIf="!channelFormGroup.controls[channel.marketingChannelId].value">-</span>
                </div>
                <div class="col">
                    <span>{{channel.description}}</span>
                </div>
            </div>
        </ng-container>
        <ng-container *ngIf="saveCampaignModel.segmentType !== 'Acquisition'">
            <div class="row mb-4">
                <div class="col form-check">
                    <input class="form-check-input" type="checkbox" (change)="selectChannel($event, csvChannel)"
                        formControlName="csvDownload">
                    <span class="ms-1">{{csvChannel.marketingChannel}}</span>
                </div>
                <div class="col">
                    <span>{{saveCampaignModel.segmentSize}}</span>
                </div>
                <div class="col">
                    <div *ngIf="channelFormGroup.controls['csvDownload'].value">
                        <select class="form-select" [value]="'All'" (change)="selectChannelInclude($event, csvChannel)">
                            <option value="All">All ({{ saveCampaignModel.segmentSize }})
                            </option>
                            <option value="Non-Mobile Message">Non-Mobile Message ({{ saveCampaignModel.segmentSize -
                                saveCampaignModel.segmentMobileAppSize }})
                            </option>
                        </select>
                    </div>
                    <span *ngIf="!channelFormGroup.controls['csvDownload'].value">-</span>
                </div>
                <div class="col">
                    <span>{{csvChannel.description}}</span>
                </div>
            </div>
        </ng-container>
    </div>
</form>