<app-applications-chart></app-applications-chart>
<div class="row my-4">
    <div class="col me-2">
        <h5 class="mb-3">Service Tier & Technology</h5>
        <div [chart]="serviceTierChart"></div>
    </div>
    <div class="col ms-2">
        <h5 class="mb-3">New Subscribers</h5>
        <div [chart]="newSubscribersChart"></div>
    </div>
</div>
<div class="row my-4">
    <div class="col me-2">
        <h5 class="mb-3">Churn Trends</h5>
        <div [chart]="churnTrendsChart"></div>
    </div>
</div>