.btn-download {
    margin-right: 6px;
    background-image: url("../../../../../../assets/images/download.svg");
    height: 24px;
    width: 24px;
    cursor: pointer;
    background-repeat: no-repeat;
}