<div class="container">
    <div class="row m-4">
        <div class="col input-group mb-3">
            <label class="input-group-text w-25">Region</label>
            <select class="form-select" [(ngModel)]="areaFilterModel.region" (change)="regionSelected($event)">
                <option value="">All</option>
                <ng-container *ngFor="let region of regionData;">
                    <option [value]="region">{{region}}
                    </option>
                </ng-container>
            </select>
        </div>
        <div class="col input-group mb-3">
            <label class="input-group-text w-25">Location</label>
            <select class="form-select" [(ngModel)]="areaFilterModel.location">
                <option value="">All</option>
                <ng-container *ngFor="let loc of locationData;">
                    <option [value]="loc">{{loc}}
                    </option>
                </ng-container>
            </select>
        </div>
        <div class="col input-group mb-3">
            <label class="input-group-text w-25">Time Frame</label>
            <select class="form-select" [(ngModel)]="areaFilterModel.timeFrame">
                <option value="last-2m">2 Prior Months</option>
                <option value="last-1m" selected>Prior Months</option>
                <option value="last-30d">30 Days</option>
            </select>
        </div>
        <div class="col">
            <button type="button" [disabled]="" class="btn btn-success me-2" (click)="applyAreaFilter()">Apply</button>
            <button type="button" [disabled]="" class="btn btn-success" (click)="clearAreaFilter()">Clear</button>
        </div>
    </div>
    <div class="row m-4">
        <div class="col-md-2 mb-4">
            <label class="text-primary w-100 m-2 border-bottom" role="button" (click)="selectTab(0)">Subscribers</label>
            <label class="text-primary w-100 m-2 border-bottom" role="button" (click)="selectTab(1)">Services</label>
            <label class="text-primary w-100 m-2 border-bottom" role="button"
                (click)="selectTab(2)">Applications</label>
            <label class="text-primary w-100 m-2 border-bottom" role="button" (click)="selectTab(3)">Retention</label>
            <label class="text-primary w-100 m-2 border-bottom" role="button" (click)="selectTab(4)">Service Provider
                Acquisition Insights</label>
            <label class="text-primary w-100 m-2 border-bottom" role="button" (click)="selectTab(5)">Systems</label>

        </div>

        <div class="col-md-10 mb-4">
            <tabset #staticTabs>
                <tab>
                    <app-subscriber-chart></app-subscriber-chart>
                </tab>
                <tab>
                    <app-services-chart></app-services-chart>
                </tab>
                <tab>
                    <app-applications-chart></app-applications-chart>
                </tab>
                <tab>
                    <app-retention-chart></app-retention-chart>
                </tab>
                <tab>
                    <app-acquisition-insights-chart></app-acquisition-insights-chart>
                </tab>
                <tab>
                    <app-system-chart></app-system-chart>
                </tab>
            </tabset>
        </div>
    </div>
</div>