<div class="container">
    <div class="row m-4">
        <div class="col input-group mb-3">
            <label class="input-group-text w-25">Region</label>
            <select class="form-select" (change)="regionSelected($event)">
                <option value="All">All</option>
                <ng-container *ngFor="let region of regionData;">
                    <option [value]="region">{{region}}
                    </option>
                </ng-container>
            </select>
        </div>
        <div class="col input-group mb-3">
            <label class="input-group-text w-25">Location</label>
            <select class="form-select">
                <option value="All">All</option>
                <ng-container *ngFor="let loc of locationData;">
                    <option [value]="loc">{{loc}}
                    </option>
                </ng-container>
            </select>
        </div>
        <div class="col input-group mb-3">
            <label class="input-group-text w-25">Time Frame</label>
            <select class="form-select">
                <option value="2 Prior Months">2 Prior Months</option>
                <option value="Prior Months">Prior Months</option>
                <option value="30 Days">30 Days</option>
            </select>
        </div>
        <div class="col">
            <button type="button" [disabled]="" class="btn btn-success me-2">Apply</button>
            <button type="button" [disabled]="" class="btn btn-success">Clear</button>
        </div>
    </div>
    <div class="row m-4">
        <div class="col-md-2 mb-4">
            <label class="text-primary w-100 m-2 border-bottom" role="button" (click)="selectTab(1)">Subscribers</label>
            <label class="text-primary w-100 m-2 border-bottom" role="button" (click)="selectTab(2)">Services</label>
            <label class="text-primary w-100 m-2 border-bottom" role="button" (click)="selectTab(2)">Applications</label>
            <label class="text-primary w-100 m-2 border-bottom" role="button" (click)="selectTab(2)">Retention</label>
            <label class="text-primary w-100 m-2 border-bottom" role="button" (click)="selectTab(2)">Service Provider Acquisition Insights</label>
            <label class="text-primary w-100 m-2 border-bottom" role="button" (click)="selectTab(2)">Sysytems</label>

        </div>

        <div class="col-md-10 mb-4">
            <tabset #staticTabs>
                <tab>
                    Subscriber
                </tab>
                <tab>Static content 1</tab>
                <tab>Static content 2</tab>
                <tab>Static content 3</tab>
            </tabset>
        </div>
    </div>
</div>