/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "node_modules/ngx-bootstrap/datepicker/bs-datepicker";
@import "~@ng-select/ng-select/themes/default.theme.css";
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap");
@import url("https://use.fontawesome.com/releases/v5.8.1/css/all.css");


.modal-content {
    width: 150%;
    margin-left: -25%;
}

.spinner-border {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    vertical-align: text-bottom;
    border: 0.25em solid;
    border-right: 0.25em solid transparent;
    border-radius: 50%;
    -webkit-animation: spinner-border .75s linear infinite;
    animation: spinner-border .75s linear infinite;
}

.loader {
    z-index: 11;
    background-color: #178cd00d;
    height: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-backdrop {
    z-index: 1040 !important;
}

body {
    ::ng-deep ngb-modal-backdrop {
        z-index: 1050 !important;
    }
}


.back-text {
    color: #4c4c4c;
}

.back-text:hover {
    color: #0279ff;
    text-decoration: blink;
    cursor: pointer;
}

.btn-default.primary:disabled {
    background: #0279ff !important;
    border: 1px solid #0279ff !important;
    cursor: not-allowed;
    opacity: 0.5;
    color: #81bcff;
}

.btn {
    background-color: #f8f8fa;
    border-radius: 26px !important;

    &:hover {
        background-color: #efefef;
    }

    &:focus {
        color: #0279ff;
    }
}

.btn-default {
    padding: 5px 20px !important;
    box-shadow: none !important;
    border-radius: 26px !important;
    min-height: 22px;
    background-color: #f8f8fa;
    min-width: 86px;
    font-size: 16px;
    line-height: 22px !important;

    &:hover {
        background-color: #efefef;
    }

    &:focus {
        color: #0279ff;
    }
}

.btn-primary {
    min-width: 86px;
    min-height: 32px;
    border-radius: 26px;
    box-shadow: 5px 5px 15px #00000026 !important;
    color: #fff !important;
}

.btn-primary:hover,
.btn-primary:focus {
    background: #0054b2;
    color: #fff !important;
}

.btn-default.primary {
    background: #0279ff;
    box-shadow: 5px 5px 15px #00000026 !important;
    color: #fff !important;
}

.btn-default.primary:hover {
    background: #0054b2;
    color: #fff !important;
}

.btn-default.primary:focus {
    background: #0279ff !important;
    color: #fff !important;

    &:hover {
        background: #0054b2 !important;
        color: #fff !important;
    }
}

.btn-primary:disabled {
    background: #0279ff !important;
    border: 1px solid #0279ff !important;
    cursor: not-allowed;
    opacity: 0.5;
}


.fa-pencil-alt:hover,
.fa-pause:hover {
    color: #0054b2;
}

.fa-pencil-alt,
.fa-pause {
    color: #0279ff;
}


.modal.fade .modal-dialog {
    border-radius: 26px;
    max-width: 680px;
  
    .modal-content {
      border-radius: 26px;
    }
  }
  
  .modal.fade .modal-dialog {
    border-radius: 26px;
    max-width: 680px;
  
    .modal-content {
      border-radius: 26px;
      padding: 20px;
      border: none;
  
      .modal-header {
        padding: 0px;
        border-bottom: transparent;
  
        .close {
          position: absolute;
          top: 20px;
          right: 25px;
          z-index: 11;
  
          &:focus {
            box-shadow: none;
            outline: 0;
            box-shadow: none;
          }
        }
      }
  
      .modal-body {
        padding: 0px;
        border-bottom: 0;
      }
  
      .modal-footer {
        border-top: 0;
      }
    }
  }
  
  // shamu css for modal start
  .custom-modal.modal.fade {
    .modal-dialog {
      .modal-content {
        padding: 20x;
  
        .modal-body {
          padding: 0px;
          padding-top: 10px;
  
          .custom-body {
            height: 150px;
            overflow: hidden;
          }
        }
      }
    }
  }
  
  .custom-lg-modal.modal.fade {
    .modal-dialog {
      max-width: 69%;
  
      .modal-content {
        padding: 40px 30px;
  
        .modal-body {
          padding: 0px;
          padding-top: 15px;
        }
      }
    }
  }
  
  .custom-xl-modal.modal.fade {
    .modal-dialog {
      max-width: 68%;
  
      .modal-content {
        padding: 40px 30px;
  
        .modal-body {
          padding: 0px;
          padding-top: 15px;
        }
      }
    }
  }
  
  .custom-md-modal.modal.fade {
    .modal-dialog {
      max-width: 55%;
  
      .modal-content {
        padding: 40px 60px;
  
        .modal-body {
          padding: 0px;
          padding-top: 15px;
        }
      }
    }
  }
  
  .custom-mid-modal.modal.fade {
    .modal-dialog {
      max-width: 60%;
  
      .modal-content {
        padding: 40px 50px;
  
        .modal-body {
          padding: 0px;
          padding-top: 15px;
        }
      }
    }
  }
  
  .custom-sm-modal.modal.fade {
    .modal-dialog {
      max-width: 35%;
  
      .modal-content {
        padding: 40px 50px;
  
        .modal-body {
          padding: 0px;
          padding-top: 15px;
        }
      }
    }
  }
  
  .custom-xs-modal.modal.fade {
    .modal-dialog {
      max-width: 25%;
  
      .modal-content {
        padding: 40px 20px;
  
        .modal-body {
          padding: 0px;
          padding-top: 15px;
        }
      }
    }
  }
  
  
  .table th {
    font-size: 16px;
    font-weight: 600 !important;
  }
  
  .table td {
    font-size: 15px;
    font-weight: 400 !important;
  }
  
  .modal.fade .modal-dialog .close {
    position: absolute;
    top: 20px;
    right: 25px;
    cursor: pointer;
  
    &:focus {
      box-shadow: none;
      outline: 0;
      box-shadow: none;
    }
  }
  
  .modal-title {
    margin-bottom: 0;
    line-height: 1.5;
    font-size: 38px;
    font-weight: 300;
    border-bottom: transparent;
  }
  
  .modal.fade.addprofile-modal .modal-dialog {
    border-radius: 26px;
    max-width: 550px;
  }

  button.close {
    span {
      background-image: url(assets/images/ic_close-44px.svg);
      width: 18px;
      height: 18px;
      position: relative;
      top: 0px;
      right: 5px;
      z-index: 1111111;
      background-repeat: no-repeat;
      display: block;
      float: right;
    }
  }