    .btn-download {
        margin-right: 6px;
        background-image: url("../../../../assets/images/download.svg");
        height: 20px;
        width: 20px;
        cursor: pointer;
        background-repeat: no-repeat;
    }

    .btn-expand {
        margin-right: 6px;
        background-image: url("../../../../assets/images/expand.svg");
        height: 20px;
        width: 20px;
        cursor: pointer;
        background-repeat: no-repeat;
    }

    .btn-shrink {
        margin-right: 6px;
        background-image: url("../../../../assets/images/shrink.svg");
        height: 20px;
        width: 20px;
        cursor: pointer;
        background-repeat: no-repeat;
    }