<div class="container container-md w-75 mt-4">
    <div>
        <span class="fw-bolder fs-1 mb-4 text-bg-primary">
            {{ saveCampaignModel.name ? saveCampaignModel.name : 'New Campaign' }}
        </span>
        <span style="background-color: 198754;" *ngIf="saveCampaignModel.status">{{ saveCampaignModel.status }}</span>
    </div>
    <tabset #staticTabs>
        <tab heading="1. Define" (selectTab)="defineSelected($event)">
            <app-define-campaign #defineCampaign (nextStepEvent)="setDefineStep($event)"></app-define-campaign>
        </tab>
        <tab heading="2. Channel" (selectTab)="channelSelected($event)" [disabled]="true" >
            <app-channel-campaign #channelCampaign (nextStepEvent)="setChannelStep($event)"></app-channel-campaign>
        </tab>
        <tab heading="3. Deploy" (selectTab)="deploySelected($event)" [disabled]="true">
            <app-deploy-campaign (nextStepEvent)="setDeployStep($event)"></app-deploy-campaign>
        </tab>
        <tab heading="4. Results" [disabled]="true">Result Content</tab>
    </tabset>
</div>