<div class="container container-md w-75 mt-4">
    <h2 class="fw-bolder mb-4">New Campaign</h2>
    <tabset [justified]="true">
        <tab heading="1. Define" (selectTab)="defineTabSelected()" [active]="!channelSelected">
            <app-define-campaign (nextStepEvent)="setChannelStep($event)"></app-define-campaign>
        </tab>
        <tab heading="2. Channel">
            <app-channel-campaign></app-channel-campaign>
        </tab>
        <tab heading="3. Deploy">Basic content 2</tab>
        <tab heading="4. Results">Basic content 2</tab>
    </tabset>
</div>